@model InterviewTask.Models.HelperServiceModel

@{
    ViewBag.Title = "Details of Helper-Service";
}

<h2>View</h2>

<div>
    <h4>Helper Service Details</h4>
    <hr />
    @if (ViewBag.Message != "")
    {
        <p>
            @ViewBag.Message
        </p>
    }
    else
    {
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TelephoneNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TelephoneNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HoursText)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HoursText)
            </dd>

        </dl>
        <div class="container">

            <table width="100%">
                <thead>
                    <tr class="row">
                        <th class="col-md-4">Day of Week</th>
                        <th class="col-md-4">Opening Time</th>
                        <th class="col-md-4">Closing Time</th>
                    </tr>
                </thead>
                <tr class="row bg-color-light-grey">
                    <td class="col-md-4">Monday</td>
                    @if (Model.MondayOpeningHours[0] == 0)
                    {
                        <td class="col-md-8" colspan="2"> <b>Closed all day</b></td>
                    }
                    else
                    {
                        <td class="col-md-4 bg-color-donation-orange">@Model.MondayOpeningHours[0]:00</td>
                        <td class="col-md-4 bg-color-donation-orange">@Model.MondayOpeningHours[1]:00</td>
                    }
                </tr>
                <tr class="bg-color-light-grey row">
                    <td class="col-md-4">Tuesday</td>
                    @if (Model.TuesdayOpeningHours[0] == 0)
                    {
                        <td class="col-md-8 " colspan="2" > <b>Closed all day</b></td>
                    }
                    else
                    {
                        <td class="col-md-4 bg-color-donation-orange" >@Model.TuesdayOpeningHours[0]:00</td>
                        <td class="col-md-4 bg-color-donation-orange">@Model.TuesdayOpeningHours[1]:00</td>
                    }
                </tr>
                <tr class=" bg-color-light-grey row">
                    <td class="col-md-4">Wednesday</td>
                    @if (Model.WednesdayOpeningHours[0] == 0)
                    {
                        <td class="col-md-8" colspan="2" > <b>Closed all day</b></td>
                    }
                    else
                    {
                        <td class="col-md-4 bg-color-donation-orange">@Model.WednesdayOpeningHours[0]:00 </td>
                        <td class="col-md-4 bg-color-donation-orange">@Model.WednesdayOpeningHours[1]:00</td>
                    }
                </tr>
                <tr class="bg-color-light-grey row">
                    <td class="col-md-4">Thursday</td>
                    @if (Model.ThursdayOpeningHours[0] == 0)
                    {
                        <td class="col-md-8" colspan="2" > <b>Closed all day</b></td>
                    }
                    else
                    {
                        <td class="col-md-4 bg-color-donation-orange">@Model.ThursdayOpeningHours[0]:00</td>
                        <td class="col-md-4 bg-color-donation-orange">@Model.ThursdayOpeningHours[1]:00</td>
                    }
                </tr>
                <tr class="bg-color-light-grey row">
                    <td class="col-md-4">Friday</td>
                    @if (Model.FridayOpeningHours[0] == 0)
                    {
                        <td class="col-md-8" colspan="2" > <b>Closed all day</b></td>
                    }
                    else
                    {
                        <td class="col-md-4 bg-color-donation-orange">@Model.FridayOpeningHours[0]:00 </td>
                        <td class="col-md-4 bg-color-donation-orange">@Model.FridayOpeningHours[1]:00</td>
                    }
                </tr>
                <tr class="bg-color-light-grey row">
                    <td class="col-md-4">Saturday</td>
                    @if (Model.SaturdayOpeningHours[0] == 0)
                    {
                        <td class="col-md-8" colspan="2" > <b>Closed all day</b></td>
                    }
                    else
                    {
                        <td class="col-md-4 bg-color-donation-orange">@Model.SaturdayOpeningHours[0]:00</td>
                        <td class="col-md-4 bg-color-donation-orange">@Model.SaturdayOpeningHours[1]:00</td>
                    }
                </tr>
                <tr class="bg-color-light-grey row">
                    <td class="col-md-4">Sunday</td>
                    @if (Model.SundayOpeningHours[0] == 0)
                    {
                        <td class="col-md-8" colspan="2" > <b>Closed all day</b></td>
                    }
                    else
                    {
                        <td class="col-md-4 bg-color-donation-orange">@Model.SundayOpeningHours[0]:00</td>
                        <td class="col-md-4 bg-color-donation-orange">@Model.SundayOpeningHours[1]:00</td>
                    }
                </tr>
            </table>
            
        </div>
    }
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
